<h1>お問い合わせは管理人twitterのDMまで</h1>
<p>twitterアカウント: <%= link_to "@saoatama_hobby", "https://twitter.com/saoatama_hobby", class:"mytwitter" %></p>
<br>
<p>リクエストや感想、使用した作品の紹介などお気軽にDM下さい</p>
<p>大したことは呟きませんがフォローしてくれると喜びます</p>