<h1>利用規約</h1>
<div class="rule-div">
    <h2 class="rule">全素材無料</h2>
    <p>本サイトにて配布している画像素材は全て利用料無料で利用できます</p>
    <p>ゲームや動画などの素材としてご利用ください</p>
</div>
 
<div class="rule-div">
    <h2 class="rule">商用OK</h2>
    <p>商用でも無料で利用可能です</p>
    <p>個人の方も法人の方もご利用いただけます</p>
</div>

<div class="rule-div">
    <h2 class="rule">著作権について</h2>
    <p>画像は無料で公開しますが、著作権自体は放棄していません</p>
    <p>自身の作品と偽って画像をSNSに転載するなどの行動に対しては法的措置も検討します</p>
</div>

<div class="rule-div">
    <h2 class="rule">報告不要</h2>
    <p>画像の利用に際し、本サイトの管理人に連絡する必要はありませんが、著作表記はかならずしてください</p>
</div>

<div class="rule-div">
    <h2 class="rule">著作表記について</h2>
    <p>画像を利用した場合、作品のクレジットなどに著作表記をお願いします。</p>
    <p>表記する名前に関してはサイト名「黒髪少女激推し劇場」か管理人名「竿頭」でお願いします。</p>
    <p>URLの表記は任意です</p>
</div>

<div class="rule-div">
    <h2 class="rule">サイトの運営目的</h2>
    <p>多くの人に私の絵を見てもらうこと</p>
    <p>全てのクリエイターを支援すること</p>
    <p>挑戦する人を応援し続けるサイトでありたいと思っています</p>
</div>