body {
    font-family: sans-serif, 'メイリオ';
    text-align: center;
    background-color: #F5EBDC;
}

main {
    padding: 2%;
    color: #996776;
    width: 80%;
    margin-left: 8%;
}

#link {
    background-color: #6E4A55;
    font-size: 24px;
    width: 80%;
    margin-left: 8%;
    border-radius: 10px;
}

.nav-link {
    width: 15%;
}

a {
    color: #F6E5CC;
    text-decoration: none;
}

.download_button {
    background-color: #6E4A55;
    border-radius: 20px;
    color: #F5EBDC;
    font-size: 20px;
    cursor: pointer;
}

#source-name {
    font-size: 20px;
    margin: 5% -5% -2% -2%;
}

.sand {
    z-index: 3;
    width: 50%;
    height: 75%;
    position: fixed;
    top: 20%;
    left: 25%;
    border: 2px solid #000;
    background-color: #FFF;
    display: none;
}

.overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
}

.source {
   width: 100px;
   height: 150px;
   clear: both;
}

.nav-link {
    display: inline-block;
    text-align: center;
}

.pictSpace {
    display: inline-block;
    text-align: center;
    width: 40%;
    height: 60%;
    margin: 0% 0% -10% -10%;
    padding: -2%;
}

.bigger {
    width: 60%;
    height: 80%;
    z-index: 3;
}

.title {
    width: 80%;
    height: 50%;
}

#source-description {
    font-size: 20px;
    margin: -2% -2% -2% 25%;
    width: 55%;
}

.mytwitter {
    color: #996776;
}