body {
  background-color: #e8dda2;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  background-color: #e9bc00;
  border-style: groove;
  border-color: #e8dfba;
  padding: 1%;
  margin-top: 10px;
  border-radius: 5px;
}

a:hover {
  background-color: #ba00e8;
  color: #dfbae8;
}

table {
  margin-top: 5%;
}

th {
  padding-bottom: 2%;
  margin-top: 10%;
  overflow: both;
}

thead {
  background-color: #e9bc00;
}

td {
  padding: 0 5px 7px;
}


#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

label {
  display: block;
}

img {
  width: 100px;
  height: 100px;
}

input {
  background-color: #e8c32e;
}

h1.title {
  margin-bottom: -2%;
  margin-top: -0.5%;
  float: left;
}

.another {
  margin-left: 15%;
  float: left;
}

.logout {
  margin-bottom: -5%;
  margin-left: 5%;
  color: #660080;
  background-color: #e9bc00;
  border-style: groove;
  border-color: #e8dfba;
  padding: 1%;
  border-radius: 5px;
}

#table {
  overflow: both;
}

.new-create {
  font-size: 20px;
}

.submit {
  color: #660080;
  background-color: #e9bc00;
  border-style: groove;
  border-color: #e8dfba;
  padding: 1%;
  border-radius: 5px;
  
}

.submit:hover {
  background-color: #ba00e8;
  color: #dfbae8;

}
